{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <article>
        <h2>{{ article.name }}</h2>
        <div class="content">
            <img src="{{ article.photo }}" alt="" class="">
            <p>{{ article.description }}</p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex excepturi natus quam illum magnam, necessitatibus ullam beatae quos velit! Reiciendis repellendus quia odio quas, mollitia deleniti sunt est. Ex debitis est officia doloremque officiis, temporibus iusto rerum magni consectetur mollitia veritatis reprehenderit magnam quae eos aliquam eum veniam sint. Reiciendis!</p>
            <p>Pariatur quasi fuga similique mollitia cumque itaque suscipit? Dicta suscipit maiores facere hic optio nemo. Est pariatur voluptates natus ab veritatis maxime! Ea, dicta? Temporibus eveniet porro aspernatur iure, dicta voluptates recusandae at, expedita eligendi cumque laudantium beatae pariatur distinctio perspiciatis ipsam deserunt quos repellendus culpa quibusdam ex quis optio.</p>
            <p>Veritatis provident eius atque molestias itaque quae voluptatibus similique voluptas nulla exercitationem nostrum accusantium temporibus nam mollitia eos ratione praesentium perferendis consequatur, omnis amet! Id, dolores! Sunt animi debitis distinctio excepturi praesentium saepe ullam molestias, porro unde amet ut quibusdam omnis dignissimos dolorem quaerat error. Deleniti reprehenderit quasi maiores deserunt.</p>
            <p>Ipsa iste vero aperiam, velit, similique officia, suscipit nobis ea sit provident nulla odio eveniet? Ab voluptatem similique assumenda quia odio debitis nostrum ratione, ad quam consectetur aliquam praesentium tempore nisi maiores alias! Ipsa odit reprehenderit tempore! Id repellat doloremque voluptatum veritatis! Velit ratione iure minima consectetur ut molestiae. Saepe!</p>
        </div>
    </article>
{% endblock %}
